<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title%></title>
    <!-- Some Copied Style -->
    <!-- looks automatically in the public folder (express.static) -->
    <!-- solved error of linking to css : 
            note that this is included in ejs file so this path is relative to for ex index.js
            .. -> get out of views folder
            -> express searches for public folder         
    -->
    <link rel="stylesheet" href="./../styles.css"> 
</head>