<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quasi sunt enim dignissimos eius nostrum ipsum maxime perspiciatis beatae, iure voluptatum illo. Eveniet minus velit sunt magnam atque porro illo?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quasi sunt enim dignissimos eius nostrum ipsum maxime perspiciatis beatae, iure voluptatum illo. Eveniet minus velit sunt magnam atque porro illo?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quasi sunt enim dignissimos eius nostrum ipsum maxime perspiciatis beatae, iure voluptatum illo. Eveniet minus velit sunt magnam atque porro illo?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>